<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {%block title%}{%endblock%}
</head>

<body>
    {%if messages%}

    {%for message in messages%}
    {%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <pre><div class="alert alert-danger" role="alert">{{message}} &#128543</div></pre>
    {%endif%}
    {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
    <div class="alert alert-success" role="alert"> {{message}} &#128515&#128077</div>
    {%endif%}
    {% endfor %}
  
    {%endif%}

    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SenderSy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>

                {%if user.is_authenticated%}
                <span class='text-white me-2'>Hello, {{user.username|capfirst}}</span>
                <a href='/logout' class="btn btn-light">Logout</a>

                {%else%}
                <span class='text-white me-2'>Hello, Visitor</span>
                <a href="{%url 'signup'%}" class="btn btn-light me-2">Signup</a>
                <a href="{%url 'signin'%}" class="btn btn-light">Login</a>  
    
                {%endif%}
            </div>
        </div>
    </nav>


    {%block content%}
    {%endblock%}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


    
</body>

</html>